<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NanoFab Lab Rules Tutorial</title>
</head>
<body>

    <h1>NanoFab Rules Tutorial</h1>

    <p> All lab users must have successfully completed the Workplace Hazardous Materials Information System (WHMIS) course, available at the
        <a href="https://uwaterloo.ca/safety-office/training/employee-safety-orientation">University of Waterloo Safety Office website.</a> <br> <br>

        To pass the NanoFab Rules Tutorial and gain access to the G2N Lab tools,
        lab users must:</p>
        <ol>
            <li> Read and understand the the
                <a href="https://uofwaterloo-my.sharepoint.com/:f:/g/personal/rabarber_uwaterloo_ca/EkRQKfqVFzlPk8acQKumYx4BBq_JvUlEwlOgFUO35wk0Hg">Access to G2N Facilities: COVID-19 Precautions</a>
                 presentation. </li>
            <li> Sign the acknowledgment form at the last slide of the presentation, confirming your understanding of the information and agreement to comply
                with the rules for safe behavior in G2N facilities.</li>
            <li> Email the acknowledgement form to Richard Barber, the G2N Lab Manager.
                <ul>
                    <li> Richard Barber: rabarber@uwaterloo.ca </li>
                    <li> Email subject: "Acknowledgment: COVID-19 Requirements for G2N" </li>
                    <li> Include your WatIAM username in the email.</li>
                </ul>
            </li>
            <li> When you receive a reply that your training has been completed, you will then have access to the G2N Lab tools. </li>
        </ol>
    <p> For questions or concerns, you may contact Richard Barber, rabarber@uwaterloo.ca. </p>

        <!--   POST method to pass training tutorial.
        <p> Click the button below to pass the training tutorial. </p>
    <form action="{% url 'facility_rules' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Pass Tutorial" class="btn btn-success">
    </form> -->
</body>
</html>



